<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> Please feel free to contact me <a href="mailto:tra.myfaith@gmail.com">here</a> or if you have my number, well use it!</p>
<%- include("partials/footer"); -%>
